<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>11006</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="container">
    	<form action="/11007/new" method="post">
			<div class="form-group">
	    		
				<label for="txcode">거래코드</label>
	        	<input type="text" id="txcode" name="txcode" placeholder="txcode 입력">
				<p>
				
				<label for="routing_page">라우팅페이지</label>
				<input type="text" id="routing_page" name="routing_page" placeholder="routing_page 입력">
				<p>
				<label for="in">in 데이타</label>
				<input type="text" id="in" name="in" placeholder="in data 입력">
				<p>
				<label for="out">out 데이타</label>
				<input type="text" id="out" name="out" placeholder="datout data 입력">
				<p>
				<label for="id">아이디</label>
				<input type="text" id="id" name="id" placeholder="id 입력">
				<p>
				<label for="name">이름</label>
				<input type="text" id="name" name="name" placeholder="name 입력">
				<p>
				<label for="회사">회사</label>
				<input type="text" id="company" name="company" placeholder="company 입력">
				
								
			</div>
	    	<button type="submit">등록</button>
		</form>
	</div> <!-- /container -->
	
</body>
</html>


