<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>R11007</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	
	<p th:text=" '■ txcode  [' + ${txcode} + ']' "> </p>
	<p th:text=" '■ in      [' + ${in} + ']' "> </p>
	<p th:text=" '■ out     [' + ${out} + ']' "> </p>
	<p th:text=" '■ id      [' + ${id} + ']' "> </p>
	<p th:text=" '■ name    [' + ${name} + ']' "> </p>
	<p th:text=" '■ company [' + ${company} + ']' "> </p>
	<p th:text=" '■ routepage [' + ${routepage} + ']' "> </p>
		
	<div>	    
	    <p>
			▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
	        <a href="/roianhome"><h3>  Roian Home  </h3></a>
	    </p>
	</div>

</body>
</html>